* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: #252429;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #ec3750;
    border-radius: 10px;
}

.image {
    border-radius: 50%;
}
a{
    text-decoration: none !important;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}