* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: #252429;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #ec3750;
    border-radius: 10px;
}

.image {
    border-radius: 50%;
    border: 2px salmon solid !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

#ii {
    height: max-content;
    margin-top: -65px;
}
.rounded{
    border-radius: 15px;
}